# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
.sourcemaps/
coverage/
dist/
node_modules/
package-lock.json
tmp/
temp/
temp-*
$RECYCLE.BIN/

client/hooks/
client/platforms/
client/plugins/
client/plugins/android.json
client/plugins/ios.json
client/src/published
client/src/app/tsconfig.json
client/www
client/dist

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
